.maskContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.baseLayer {
  position: absolute;
  inset: 0;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  z-index: 0;
}

.maskLayer {
  position: absolute;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;

  -webkit-mask-image: url("/public/maskCursor.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 40px;
  mask-image: url("/public/maskCursor.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  z-index: 1;
}
