@use "../../Sass/mixin" as m;
@use "../../Sass/variables" as var;

.flipCard {
  width: 260px;
  height: 260px;
  perspective: 1000px; // gives the 3D effect
  cursor: pointer;

  &:hover .flipCardInner {
    transform: rotateY(180deg);
  }
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.sBox {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var.$secondary;
  border-radius: 15px;
  backface-visibility: hidden; // hides the back side when not visible
  display: flex;
  align-items: center;
  justify-content: center;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-weight: 800;
      font-size: 2.4rem;
      color: white;
    }

    p {
      font-weight: 400;
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem;
    }
  }
}

.front {
  background: transparent;
}

.back {
  background: var.$btnBG2;
  transform: rotateY(180deg);
  color: white;
  box-shadow: 0px 0px 20px;
}

.serviceIcons {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}
