@use "../../Sass/mixin" as m;
@use "../../Sass/variables" as var;
@use "../../Sass/Styles" as s;

.work_hero {
  padding: 1rem;
  background-color: var.$primarybg;
  &_content {
    width: 95%;
    margin: auto;
    padding: 2rem;
    h1 {
      font-weight: 700;
      font-size: 6rem;
      line-height: 72px;
      text-align: center;
      color: white;

      @include m.respond(tab-port) {
        font-size: 4rem;
      }
      span {
        font-size: 6rem;
        font-weight: 700;
        color: white;
        outline-color: white;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;

        @include m.respond(tab-port) {
          font-size: 4rem;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 1.9rem;
      line-height: 30px;
      margin-top: 3rem;
      text-align: center;
      color: var.$secondary;
    }
    &_top {
      margin-top: 3rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
      gap: 1.5rem;
      button {
        padding: 1rem 5rem;
        font-weight: 500;
        font-size: 1.8rem;
        background: none;
        color: var.$white;
        border: 1px solid var.$white;
        border-radius: 50px;
        cursor: pointer;
        &:hover {
          background: var.$btnBg;
          border: none;
          color: var.$white;
        }
      }
    }
  }
}

.active {
  background: var.$btnBg !important;
  //   border: none !important;
  color: var.$white !important;
}

.dec_container {
  padding: 2rem 0rem;
  h1{
    
  }
  &_content {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: start;
    gap: 1rem;
    &_left {
      width: 80%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &_right {
      width: 20%;
      height: 100%;
    }
  }
}
