@use "../../Sass/mixin" as m;
@use "../../Sass/Styles" as s;
@use "../../Sass/variables" as var;

.footer_container {
  padding: 3rem 0rem;
  background-color: var.$primarybg;
  &_content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0rem;
    border-top: 1px solid #535353;
    border-bottom: 1px solid #535353;
    @include m.respond(tab-port) {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
    &_left {
      width: 45%;
      // background-color: aqua;
      & > *:not(:first-child) {
        margin-top: 3rem;
      }
      @include m.respond(tab-port) {
        width: 100%;
      }
      img {
        cursor: pointer;
        width: 25rem;
        height: 12rem;
        border-radius: 20%;
        @include m.respond(tab-port) {
          width: 15rem;
          height: 10rem;
        }
      }
      p {
        font-size: 3.6rem;
        font-weight: 800;
        color: #ffffffb2;
        width: 85%;
        //    background-color: aqua;
        @include m.respond(tab-port) {
          width: 100%;
          // text-align: justify;
        }
      }
      &_socialBox {
        & > *:not(:first-child) {
          margin-left: 1.6rem;
        }
        img {
          cursor: pointer;
          width: 5rem;
          height: 5rem;
        }
      }
    }
    &_right {
      width: 55%;
      //  background-color: lightblue;
      display: flex;
      align-items: start;
      justify-content: space-between;
      @include m.respond(tab-port) {
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
      }
      &_links {
        width: 30%;
        h1 {
          font-weight: 600;
          font-size: 1.6rem;
          color: white;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          button {
            margin-top: 2.4rem;
            background: none;
            border: none;
            color: white;
            font-weight: 400;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
      }
      &_services {
        width: 65%;
        // background-color: lawngreen;

        h1 {
          font-weight: 600;
          font-size: 1.6rem;
          color: white;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          // button {
          //   margin-top: 2.4rem;
          //   background: none;
          //   border: none;
          //   color: white;
          //   font-weight: 400;
          //   font-size: 1.4rem;
          //   cursor: pointer;
          // }
        }
        &_innerContent {
          label {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 32px;
            text-align: justify;
            letter-spacing: -0.03em;
            color: white;
          }
          textarea {
            margin-top: 0.5rem;
            width: 100%;
            height: 165px;
            background-color: lightgray;
            border-radius: 5px;
            opacity: 0.4;
            padding: 0.7rem 1.5rem;
            margin-bottom: 1.2rem;
            border: none;
            color: black;
            @include m.respond(tab-port) {
              height: 70px;
            }

            &:focus {
              outline-color: darkgray;
              background-color: #ffffff;
              box-shadow: 2px 2px 10px rgb(186, 185, 185);
            }
            &:hover {
              outline-color: lightgray;
              background-color: white;
              box-shadow: 2px 2px 10px rgb(186, 185, 185);
            }
            &::placeholder {
              color: lightgray;
            }
          }
        }
      }
    }
  }
  &_copyright {
    margin-top: 3rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #ffffffb2;
    display: flex;
    align-items: center;
    justify-self: center;
    letter-spacing: 2px;
    // background-color: aqua;
  }
}
.social_icons {
  font-size: 3rem;
  color: var.$white;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 0 15px 5px yellow); /* Adds a gray shadow */
  }
}
.btnSubmit {
  width: 100%;
  padding: 1rem 0rem;
  margin-top: 1rem;
  background: var.$btnBG2;
  background: rgb(123, 123, 123);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    outline-color: lightgray;
    // background-color: white;
    box-shadow: 2px 2px 10px rgb(186, 185, 185);
  }
}
