@use "./Sass/_mixin.scss" as m;
@use "./Sass/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include m.respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include m.respond(tab-land) {
    // width < 1200?
    font-size: 52.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include m.respond(big-desktop) {
    font-size: 60%; //1rem = 12, 12/16
  }
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  border-radius: 1000rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var.$btnBG2;
  border-radius: 1000rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var.$btnBG2;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
  border-radius: 1000rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var.$btnBG2;
  border-radius: 1000rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var.$btnBG2;
}
